<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>预约管理管理</title>
	<link rel="stylesheet" href="__PUBLIC__/Admin/dist/css/bootstrap.min.css">


</head>
<body>

	<div class="main container">
			<table class="table table-striped">
				    <thead>
					    <tr><th>预约号</th>
					        <th>名字</th>
					        <th>医院名称</th>
					        <th>科室名称</th>
					        <th>专家</th>
					         <th>预约时间</th>
					        <th>时间段</th>
					    </tr>
				    </thead>
				    <tbody>
						<foreach name="list" item="yy">
					    <tr><td>{$yy.id}</td>
					        <td>{$yy.patientname}</td>
					        <td>{$yy.hospitalname}</td>
					        <td>{$yy.keshiname}</td>
					        <td>{$yy.expertname}</td>
							 <td>{$yy.yuyuetime}</td>
							 <td>{$yy.timerange}</td>
							 <form action="{:U('admin/Patient/yuyuemanage',array('id'=>$yy['id']))}" method="get">
								<td><input style="display: none" class="btn btn-success" name="id" value="{$yy.id}"/>
								<input type="submit" class="btn btn-warning" value="取消预约"/>
								</td>
								</form>
						</tr>
						</foreach>
				    </tbody>
			</table>
			<div style="text-align:center">
					{$page}</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
</body>
</html>